a {
    color: gray;
    font-size: 18px;
}

header {
    display:flex;
    width:90%;
    margin: 0 auto;
    padding:10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

header ol {
    display: flex;
    justify-content: space-evenly;
    width: 380px;

}

.logo {
    display: flex;
    height: auto;
    width: 90%;
    margin: 0 auto;
}