a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3)
}

a:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47
}

a:link:focus {
    color: #005798
}

.skiplink {
    position: absolute;
    left: -9999em
}

.skiplink:focus,
.skiplink:visited {
    color: #0b0c0c
}

.skiplink:focus {
    left: 0;
    z-index: 1;
  	position: static;
}

#skiplink-container {
    text-align: center;
    background: #0b0c0c
}

#skiplink-container div {
    text-align: left;
    margin: 0 auto;
    max-width: 1020px
}

#skiplink-container .skiplink {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0.75em 0 0 30px
}